section {
  font-family: "Rubik";
    width: 1440px;
    height: 990px;
    background-color: #fdf2e9;
    display: flex;
  }
  .SectionFirst_Container {
    margin: 50px 60px;
  }
  .SectionFirst_Container b {
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
    color: #e67e22;
  }
  .SectionFirst_Container h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
  }
  .SectionFirst_Boxes a {
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    color: #999494;
  }
  .SectionFirst_Boxes p {
    font-size: 20px;
    font-weight: 500;
    color: #555555;
  }
  .SectionFirst_Boxes {
    display: flex;
    gap: 50px;
  }
  .SectionFirst_Boxess div {
    margin-top: 30px;
  }
  .SectionFirst_Box {
    display: flex;
    margin-left: 70px;
  }
  .SectionFirst_Box div {
    display: flex;
    flex-direction: column;
    margin: 20px;
    gap: 30px;
  }